*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  //-webkit-font-smoothing: antialiased;
  //font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  cursor: pointer;
  color: $colorDark;
  text-decoration: none;
}


html,
body {
  background-color: #ffffff;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  color: $colorDark;
}


.fl {
  float: left;
}

.fr {
  float: right;
}

.aX {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.aY {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.aXY {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
