$grid-max-width: 1180px;
$grid-max-width-med: 680px;
$grid-gutter: 30px;
$grid-columns: 12;

$break-point-tab: 1100px;
$break-point-phone: 680px;
$break-point-phone-small: 450px;


.wrap {
	// @extend $clr;
	display: block;
	width: 100%;
	max-width: $grid-max-width;
	margin: 0 auto;
	position: relative;
	padding-left: ($grid-gutter / 2);
	padding-right: ($grid-gutter / 2);

	&--greed {
		font-size: 0;

		> * {
			font-size: 16px;
		}
	}

	&--no-padding {
		@extend .wrap;
		padding-left: 0;
		padding-right: 0;
	}
	/*&:after{
		content: '';
		display: block;
		clear: both;
	}*/
}

[class^="col-"],
[class*=" col-"] {
	// @extend $clr;
	display: inline-block;
	position: relative;
	padding-left: ($grid-gutter / 2);
	padding-right: ($grid-gutter / 2);
}

.col--no-padding {
	padding-left: 0;
	padding-right: 0;
}
