.icon-phone:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */